.botao {
  padding: 16px 32px;
  background: linear-gradient(#FFB400, #865902);
  color: #322100;
  font-weight: 600px;
  font-family: 'Poppins';
  border-radius: 4px;
  font-size: 1.25rem;
  box-shadow: 0px 1px 2px #6c6c6c66;
  max-width: max-content;
  transition: transform 0.3s ease;
  transform-origin: center;
  cursor: pointer;
}

.botao:hover {
  transform: scale(1.05);
}

.botao.seta:hover:after {
  transform: translateX(4px);
}

.botao.seta::after {
  content: "";
  display: inline-block;
  width: 18px;
  height: 10px;
  margin-left: 12px;
  background-image: url("/img/icones/seta.svg");
}

.botao-secundario {
  cursor: pointer;
  padding: 16px 32px;
  background: var(--cor-12);
  color: var(--cor-02);
  font-weight: 600px;
  font-family: 'Poppins';
  border-radius: 4px;
  font-size: 1.25rem;
  box-shadow: 0px 1px 2px #6c6c6c66;
  max-width: max-content;
  transition: transform 0.3s ease;
  transform-origin: center;
  border: none;
}

.botao-secundario:hover {
  background: var(--cor-09);
  transform: scale(1.05);
}


.botao:hover {
  background: #FFB400;
}

@media (max-width: 800px) {
  .botao {
    padding: 12px 20px;
    border-radius: 4px;
    font-size: 1rem;
  }

  .botao-secundario {
    padding: 12px 20px;
    border-radius: 4px;
    font-size: 1rem;
  }
}

.container {
  box-sizing: border-box;
  padding: 20px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}