/* INICIO DA PARTE INICIAL DA PÁGINA POR BICICLETA */

.nimbus-bg {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  gap: 40px;
  padding-top: 60px;
  padding-bottom: 60px;
  background: var(--cor-14);
}

.nimbus-fotos {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.nimbus-fotos img {
  flex: 1;
  min-width: 200px;
}

.nimbus-fotos img:first-child {
  min-width: 100%;
}


.nimbus-informacao p {
  margin-bottom: 32px;
}

.nimbus-bg h2 {
  margin-bottom: 8px;
  text-transform: uppercase;
}

.nimbus-compra {
  display: grid;
  grid-template-columns: max-content auto;
  align-items: center;
  justify-items: start;
  gap: 8px 12px;
  margin-bottom: 24px;
}

.nimbus-compra a {
  margin-right: 8px;
  grid-row: span 2;
}

.nimbus-compra span {
  background-color: var(--cor-15);
  gap: 8px;
}

.nimbus-compra span>img {
  margin-right: 8px;
}

.informacoes-nimbus {
  background-color: var(--cor-15);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  margin-bottom: 20px;
  padding: 32px;
}

.informacoes-nimbus img {
  width: 20px;
  height: 20px;
}

.informacoes-nimbus p {
  margin-top: 4px;
}

.nimbus-ficha {
  padding: 16px 32px;
  background-color: var(--cor-15);
}

.nimbus-ficha li {
  color: var(--cor-06);
  display: flex;
  justify-content: space-between;
  padding: 4px 0px;
}

.nimbus-ficha li>span {
  color: var(--cor-09);
}

/* INICIO DA PARTE RESPONSIVA NIMBUS-BG INICIAL */

@media (max-width:800px) {
  .nimbus-bg {
    grid-template-columns: 1fr;
  }

  .nimbus-fotos :nth-child(n+2) {
    display: none;
  }

  .nimbus-compra {
    justify-content: center;
    margin-bottom: 20px;
  }

  .informacoes-nimbus {
    padding: 16px;
  }

  .nimbus-ficha {
    padding: 16px;
  }
}

@media (max-width:480px) {

  .informacoes-nimbus {
    grid-template-columns: 1fr;
    gap: 20px
  }

  .nimbus-ficha {
    padding: 16px;
  }
}

/* FINAL DE NIMBUS / INFORMAÇÕES & FICHA TÉCNICA */


/* OUTRAS BICICLIETAS É REUTILIZAVEL | ALTERAÇÃO NA PÁGINA BICICLETAS */


/* INICIO DO CONTEUDO DE SEGURO DA PÁGINA P/ BICICLETA */
.nimbus-conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.nimbus-seguro-menu {
  padding-top: 120px;
  padding-bottom: 120px;
}

.nimbus-seguro-menu p {
  margin-bottom: 16px;
}

.nimbus-bg2 {
  box-shadow: inset 0 120px var(--cor-00), inset 0 -120px var(--cor-15);
  background: var(--cor-14);
}

.nimbus-seguros-bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* INICIO DA PARTE RESPONSIVA NIMBUS-BG SEGURO */

@media(max-width:800px) {
  .nimbus-imagem {
    grid-row: 2;
  }

  .nimbus-bg2 {
    box-shadow: none;
  }

  .nimbus-seguro-menu {
    padding-top: 60PX;
    padding-bottom: 20PX;
  }

  .nimbus-conteudo {
    padding-top: 0px;
    grid-template-columns: 1fr;
  }

  .nimbus-conteudo h2 {
    color: var(--cor-A01);
    margin-bottom: 8PX;
  }
}