.bicicleta-bg {
  background-color: var(--cor-14);
  padding-top: 60px;
  padding-bottom: 60px;
}

.bicicleta-2 {
  background: linear-gradient(to right, var(--cor-00) 30%, var(--cor-14) 0%);
}

.bicicleta-sessao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 60px;
  padding-bottom: 60px;
  margin-top: 20px;
  margin-bottom: 20px;
  background: url("/img/dec/top-right.svg") no-repeat top 40px right 40px;

}


.img {
  position: relative;
}

.img span {
  background: var(--cor-14);
  position: absolute;
  right: 0px;
  top: 12px;
  padding: 8px 16px 8px;
  border-radius: 5px 0px 0px 5px;
}

.bicicleta-sessao2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 60px;
  padding-bottom: 60px;
}

.sessao-conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 40px;
  align-items: start;
}


.sessao-conteudo h2::before {
  content: "";
  display: block;
  width: 16px;
  height: 8px;
  background: linear-gradient(#FFB400, #f5ad1f);
  margin-bottom: 8px;
}

.sessao-conteudo p {
  grid-column: 1/-1;
  margin-top: -32px;
}

.sessao-conteudo li {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.sessao-conteudo ul {
  place-self: end start;
}

.sessao-conteudo li>img {
  margin-right: 8px;
  max-width: 24px;
}

.sessao-conteudo a {
  place-self: end;
}

@media (max-width: 800px) {

  .bicicleta-2 {
    background: var(--cor-14);
  }

  .bicicleta-sessao,
  .bicicleta-sessao2 {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .sessao-conteudo h2 {
    margin-bottom: 8px;
  }

  .sessao-conteudo p {
    margin-top: 0px;
    margin-bottom: 12px;
  }

  .sessao-conteudo {
    margin-left: 0px;
  }
}

@media (max-width:600px) {

  .bicicleta-sessao {
    padding-top: 60px;
    padding-bottom: 60px;
  }


  .sessao-conteudo {
    grid-template-columns: 1fr;
  }

  .sessao-conteudo ul {
    margin-bottom: 8px;
    margin-top: 8px;
    grid-template-columns: 1fr 1fr;
    display: grid;
    gap: 12px
  }

  .sessao-conteudo a {
    place-self: start;
  }

}