.tecnologia-bg {
  background-color: var(--cor-14);
  box-shadow: inset 0 60px var(--cor-00), inset 0 -120px var(--cor-00);
}

.tecnologia {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.tecnologia-imagem {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
}

.tecnologia-menu {
  padding-top: 80px;
  padding-bottom: 120px;
  position: relative;
}

.tecnologia-menu>span {
  display: block;
  margin-bottom: 12px;
}

.tecnologia-menu h2 {
  margin-bottom: 20px;
}

.tecnologia-menu>p {
  margin-bottom: 20px;
}

.link {
  color: var(--cor-A01);
}

.tecnologia-info {
  display: flex;
  gap: 40px;
  margin-top: 60px;
  margin-bottom: 20px;
}

.tecnologia-info img {
  margin-bottom: 8px;
}

.tecnologia-info h3 {
  margin-bottom: 8px;
  width: max-content;
}

.tecnologia-info img {
  width: 24px;
  margin-bottom: 8px;
}


/* LINK */

.link:after {
  content: "";
  display: block;
  height: 4px;
  background-color: var(--cor-A01);
  width: 255px;
  margin-top: 4px;
  position: absolute;
}

.link:hover {
  color: var(--cor-00);
  transition: transform 0.3s ease;
  transform-origin: center;
}

.link:hover:after {
  background-color: var(--cor-00);
  transform: scale(1.05);
}

/* RESPONSIVO */

@media (max-width: 1039px) {

  .tecnologia-menu {
    padding-bottom: 120px;
  }

  .tecnologia-imagem {
    display: none;
  }

  .tecnologia-menu>span {
    display: block;
    margin-bottom: 32px;
  }

  .tecnologia-menu h2 {
    margin-bottom: 32px;
  }

  .link {
    display: block;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .tecnologia {
    grid-template-columns: 1fr;
    gap: 40px
  }
}

@media (max-width: 800px) {

  .tecnologia-menu {
    margin-bottom: 0px;
  }

  .tecnologia-menu {
    padding-bottom: 40px;
    padding-top: 40px;
  }

  .tecnologia-bg {
    background-color: var(--cor-14);
    box-shadow: inset 0 0 var(--cor-00), inset 0 0 var(--cor-00);
  }

}

@media (max-width: 594px) {


  .tecnologia-info img {
    width: 24px;
    margin-bottom: 4px;
    margin-top: 40px;
  }

  .tecnologia-info {
    display: table-row;
  }
}