.seguros-bg {
  background: var(--cor-14);
}


.seguros {
  padding-top: 60px;
  padding-bottom: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}


.seguros h2 {
  grid-column: 1/-1;
}

.botao-secundario,
.botao {
  display: block;
}

.seguro-itens {
  display: grid;
  grid-template-columns: 1fr auto;
  background-color: var(--cor-15);
  padding: 32px 32px 32px 60px;
  margin-right: 40px;
  margin-top: 20px;
  border-radius: 4px;
}

.seguro-itens ul {
  grid-column: 1/-1;
  position: relative;
}

.seguro-itens li+li {
  margin-top: 32px;
}

.seguro-itens li:last-child {
  margin-bottom: 32px;
}

.seguro-itens li {
  display: flex;
  align-items: center;
}

.seguro-itens li::before {
  content: "";
  background-image: url("../../img/icones/lista.svg");
  width: 13px;
  height: 9px;
  position: absolute;
  left: -21px;
}

.seguro-itens span {
  grid-column: 2;
  display: inline-block;
  text-align: right;
}

/* PÁGINA DE SEGURO SEPARADA */


.seguros-bg2 {
  background: var(--cor-15);
}

.seguros-bg2 h2 {
  margin-top: 120px;
  margin-bottom: 60px;
}

#seguros .seguros {
  padding-top: 0px;
}

.vantagens-sg {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  margin-left: 0px;
  padding-bottom: 120px;
}

.vantagens-sg img {
  display: grid;
  width: 24px;
  height: 24px;
  margin-bottom: 8px;
}

.vantagens-sg h3 {
  margin-bottom: 8px;
}

.vantagens-sg-esp {
  display: inline-block;
  grid-auto-rows: 1fr 1fr 1fr;
}


@media (max-width: 800px) {

  .seguros-bg2 h2 {
    margin-top: 60px;
    margin-bottom: 20px;
  }

  .seguros {
    grid-template-columns: 1fr;
    padding-bottom: 60px;
    padding-right: 20px;
  }

  .seguros h2 {
    margin-bottom: 20px;
  }

  .seguro-itens {
    margin-right: 20px;
  }

  .seguro-itens li+li {
    margin-top: 20px;
  }

  .vantagens-sg {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding-bottom: 80px;
  }
}

@media (max-width: 544px) {
  .vantagens-sg {
    grid-template-columns: 1fr;
    padding-bottom: 40px;
    gap: 20px;
  }

  .vantagens-sg-esp {
    position: relative;
    padding-bottom: 16px;
  }

  .vantagens-sg-esp::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-image: linear-gradient(to right, #000000b4, #865902);
  }

  .vantagens-sg-esp img {
    display: none;
  }
}